<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method ForumUsersController.showList -->
    <form id="filter-form">
        <label for="f1">Age</label>
        <input id="f1" type="text" name="age"/>
        <label for="f2">Interest</label>
        <select id="f2" name="interestId">
            <option value="">All</option>
            <!-- For each interest you should have one <option> like below  -->
            <option th:each="interest:${interests}" th:text="${interest.name}" th:value="${interest.id}"> [interest]</option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <!-- ForumUsersController.showAdd (Only ADMIN can see this element)-->
            <a href="/users/add" class="add-item">
                Add
            </a>
        </th:block>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Interests</th>
            <th>Actions</th>
        </tr>
        <!-- For each user you should have one <tr> like below -->
        <tr class="item" th:each="user : ${users}">
            <td th:text="${user.name}">[user.name]</td>
            <td th:text="${user.email}">[user.email]</td>
            <td th:text="${user.type.name()}">[user.type]</td>
            <td>
                <!-- For each of the user.interests show the following element-->
                <span class="item-rel" th:each="interest :${user.getInterests()}" th:text="${interest.name}"> [interest.name]</span>
            </td>
            <td>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <!-- ForumUsersController.delete (Only ADMIN can see this element)-->
                    <form method="post" th:action="@{'/users/{id}/delete' (id=${user.id})}">
                        <button type="submit" class="delete-item">Delete</button>
                    </form>
                    <!-- ForumUsersController.showEdit (Only ADMIN can see this element)-->
                    <a th:href="@{'/users/{id}/edit'(id=${user.id})}" class="edit-item">Edit</a>
                </th:block>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>