<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method NewsController.showNews -->
    <form id="filter-form">
        <label for="price">Price</label>
        <input id="price" type="text" name="price"/>
        <label for="type">Type</label>
        <select id="type" name="type">
            <option value="">All</option>
            <!-- For each type you should have one <option> like below  -->
            <option th:each="type:${types}" th:value="${type}" th:text="${type.toString()}"> [type]</option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <th:block sec:authorize="hasRole('ADMIN')">
            <!-- NewsController.showAdd -->
            <a href="/news/add" class="add-item">
                Add news
            </a>
        </th:block>
    </div>
    <table>
        <tr>
            <th>Match name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Type</th>
            <th>Category</th>
            <th>Likes</th>
            <th>Actions</th>
        </tr>
        <!-- For each news you should have one <tr> like below -->
        <tr class="item" th:each="n :${news}">
            <td th:text="${n.name}">[news.name]</td>
            <td th:text="${n.description}">[news.description]</td>
            <td th:text="${n.price}">[news.price]</td>
            <td th:text="${n.type.name()}">[news.type]</td>
            <td th:text="${n.category.name}">[news.category]</td>
            <td th:text="${n.likes}"> [news.likes]</td>
            <td>

                <th:block sec:authorize="hasRole('ADMIN')">
                    <!-- NewsController.delete -->
                    <form method="post" th:action="@{'/news/{id}/delete'(id=${n.id})}">
                        <button type="submit" class="delete-item">Delete</button>
                    </form>
                    <!-- NewsController.showEdit -->
                    <a  th:href="@{'/news/{id}/edit'(id=${n.id})}" class="edit-item">Edit</a>
                </th:block>

                <th:block sec:authorize="hasRole('USER')">
                    <!-- NewsController.follow -->
                    <form method="post" th:action="@{'/news/{id}/like'(id=${n.id})}">
                        <button type="submit" class="like-item">Like</button>
                    </form>
                </th:block>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>